                </div>
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h1 class="product-header">{{ page.title }}</h1>
                        <div class="pro-price mtb-10">
                            <!--
                            <p class="d-flex align-items-center">
                                <span class="price">{{ product.price }}</span>
                            </p>
                            -->
                        </div>
                        <p class="mb-20 pro-desc-details">Mua hàng với Shopee Đảm Bảo 3 ngày trả hàng hoàn tiền. Nhận giảm ngay 5% khi nhắn tin đặt hàng trực tiếp qua Fanpage hoặc gọi qua số điện thoại <a href="tel:0902532424">090.253.2424</a></p>
                        <div class="box-quantity d-flex hot-product2">
                            <div class="pro-actions">
                                <div class="actions-primary">
                                    <a target="_blank" rel="nofollow" href="{{ product.shopee }}" data-original-title="Mua Hàng Qua Shopee">Mua Trên Shopee</a>
                                </div>
                                <div class="actions-primary">
                                    <a target="_blank" rel="nofollow" href="https://m.me/thienxuanstore/" data-original-title="Nhắn Tin Đặt Hàng">Liên Hệ Trực Tiếp</a>
                                </div>
                            </div>
                        </div>
                        <div class="pro-ref mt-10">
                            <p><span class="in-stock"><i class="ion-checkmark-round"></i> Sản Phẩm Có Sẵn</span></p>
                        </div>
                        <div class="mt-10">
                            <table border="0" class="table">
                                <tbody>
                                    <tr>
                                        <td class="table-td">
                                            <p>Mã Sản Phẩm</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.model | upcase }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Màu Sắc</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.color }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Bảo Hành</p>
                                        </td>
                                        <td class="table-td">
                                            <p>12 Tháng</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Sải Cánh</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.saicanh }} cm</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Công Suất</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.congsuat }} W</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Số Cánh Quạt</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.canhquat }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Hẹn Giờ</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.hengio }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Điều Khiển</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.dieukhien }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Chiều Cao</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.chieucao }} cm</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Lưu Lượng Gió</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.luuluonggio }} m<sup>3</sup>/min</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 