html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    width: 100%;
    heaght: 100vh;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.login {
    padding: 90px 75px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}

.login-heading {
    font-size: 40px;
    font-weight: bold;
    color: #373941;
    text-align: center;
    margin-bottom: 35px;
}

.login-label {
    font-size: 16px;
    color: #373941;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.login-input {
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f3f5;
    outline: none;
    border: 0;
    font-size: 18px;
    margin-bottom: 30px;
}

.login-submit {
    padding: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: block;
    width: 100%;
    border-radius: 20px;
    background-color: #1ca8ff;
    font-weight: 600;
    cursor: pointer;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }